<web-app>
    <servlet>
        <servlet-name>User</servlet-name>
        <servlet-class>User</servlet-class>
        <init-param>
            <param-name>username</param-name>
            <param-value>Ravi</param-value>
        </init-param>
        <init-param>
            <param-name>password</param-name>
            <param-value>2005</param-value>
        </init-param>
    </servlet>
        <servlet-mapping>
            <servlet-name>User</servlet-name>
            <url-pattern>/User</url-pattern>
        </servlet-mapping>
</web-app>